.EditPasswordForm-Container {
  margin: 0 10px;
}
.EditPasswordForm-Form {
  background-color: #252b43;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.75);
  padding: 10px;
  display: grid;
  grid-gap: 20px;
  border-radius: 5px;
}
.EditPasswordForm-Submit {
  display: flex;
  justify-content: flex-start;
}
.EditPasswordForm-Submit input[type='submit'] {
  margin: 0;
  padding: 5px 20px;
}
@media screen and (min-width: 425px) {
  .EditPasswordForm-Container {
    margin: 0 7%;
  }
}

@media screen and (min-width: 1024px) {
  .EditPasswordForm-Container {
    margin: 0 25%;
  }
}
